section.hero.is-dark.is-large.header-image
    .hero-head
      header.nav
        .container
          .nav-left
            a.nav-item(href="/")
              h1.title Kronos Timezoner
          span.nav-toggle
            span
            span
            span
          .nav-right.nav-menu
            a.nav-item(class=slashActive href="/") Install
            a.nav-item(class=supportActive href="/support") Support
            a.nav-item(class=privacyActive href="/privacy") Privacy
            span.nav-item
              a.button.is-info.is-outlined.is-inverted(href='https://github.com/sego90/slack-timezoner' target="_blank")
                span.icon
                  i.fa.fa-github
                span Download
    .hero-body
      .container.has-text-centered.my-container
        h2.title.title-size Allow team members to see actual time in their timezones based on your time input.
        if(num)
          .count-bkg
            p Kronos has translated #{num} timezones.
        br
        p
        a(href=installButtonLink)  
          img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" 
          srcset="https://platform.slack-edge.com/img/add_to_slack@2x.png 2x, https://platform.slack-edge.com/img/add_to_slack.png 1x")